body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}

.container{
  width: 1224px;
  margin: auto;
}

header {
  background-color: rgba(0, 0, 0, .8);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color: bisque;
  font-size: 25px;
}

.navbar button {
  padding: 8px 20px;
  border-radius: 8px;
  border: 0;
  box-shadow: 0px 0px 5px red;
  background-color: rgb(221, 14, 14);
  color: white;
  cursor: pointer;
}




.center {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card {
  background-color: white;
  width: 40%;
  height: 280px;
  padding: 30px;
  text-align: center;
}

.card form input{
  width: 70%;
  padding: 10px 0;
  margin: 10px 0;
}

.card form button {
  padding: 15px 0;
  width: 71%;
  margin-top: 10px;
  background-color: rgb(127, 127, 238);
  border: 0;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.error {
  color: red;
}

.boxes {
  width: 30%;
  height: auto;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 5px gray;
}

.boxes img {
  width: 100%;
  object-fit: cover;
}

.boxes h4 {
  text-align: center;
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  row-gap: 30px;
}